= form_with(model: user, local: true) do |form|
  - if user.errors.any?
    #error_explanation
      %h2
        = pluralize(user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - user.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :email
    = form.text_field :email, class: 'form-control'
  .actions
    = form.submit 'Submit', class: 'btn btn-primary'
