<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @attendee.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @attendee.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @attendee.about %>
</p>

<p>
  <strong>Public:</strong>
  <%= @attendee.public %>
</p>

<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
