<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vendor.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @vendor.about %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
