%p#notice= notice

.rhino{style: "padding:20px;background-image:url('#{url_for(@vendor.image) if @vendor.image.attached?}');background-size:cover;height:390px;position:absolute;left:0;width:100%;background-position:top center;"}
  = @vendor.name

.breadcrumbs{style: 'padding-top:400px;'}
  = link_to (@vendor.category || 'All'), vendors_path

%h1
  = @vendor.name

%p
  = @vendor.about

- unless @vendor.website_url.blank?
  %p
    = link_to "Official Website", @vendor.website_url, class: 'btn btn-primary p-2'

.row
  - for product in @vendor.products
    = render product, locals: {product: product}

%br

- if @current_user&.vendors&.find_by(id: params[:id])
  = link_to 'Add product', new_product_path(vendor_id: @vendor.id), class: 'btn btn-primary'

.editlink
  - if @current_user&.vendors&.find_by(id: params[:id])
    = link_to 'Edit', edit_vendor_path(@vendor)

- if @current_user&.admin?
  - if @vendor.approved
    = link_to 'Disapprove', "/vendor/disapprove/#{@vendor.id}"
  - else
    = link_to 'Approve', "/vendor/approve/#{@vendor.id}"