<!DOCTYPE html>
%html
  %head
    %title Con Online - Online Anime Convention
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "True", :name => "HandheldFriendly"}
    %meta{:content => "320", :name => "MobileOptimized"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body

    .border-bottom.box-shadow.p-3.mb-3
      .container-xxl
        .d-flex.flex-column.flex-md-row.align-items-center.px-md-4.bg-white
          %h1.my-0.mr-md-auto.font-weight-normal
            %a{href: "/"}
              Con Online
          %nav.my-2.my-md-0.mr-md-3
            %a.p-2.text-dark{href: '/dealers'}
              Dealers
            %a.p-2.text-dark{href: '/artists'}
              Artists
            %a.p-2.text-dark{href: '/consweet'}
              ConSweet
            %a.p-2.text-dark{href: '/attendees'}
              Cosplayers
            %a.p-2.p-2.btn.btn-secondary{href: '/cart'}
              Cart
            - if @current_user
              %a.p-2.btn.btn-primary{href: "/users/#{@current_user.id}"}
                Account
            - else
              %a.p-2.btn.btn-primary{href: '/signup'}
                Register
            - if @current_user&.vendors.present?
              %a.p-2.btn.btn-secondary{href: '/orders'}
                Orders

    - if controller_name == 'vendors' && action_name == 'show'
      - if @vendor && @vendor.image.attached?
        .rhino{style: "padding:20px;background-image:url('#{url_for(@vendor.image)}');",
               class: "#{400 < 500 ? 'small' : ''}"}
    .container
      - if (@current_user && (!@current_user.email_verified))
        .email-notice.alert.alert-primary
          Your email has not yet been verified. Please click the link from your email.
      - if notice.present?
        .notice_notice.alert.alert-primary
          = notice
      = yield
      %footer.pt-4.my-md-5.pt-md-5.border-top
        .row
          .col-12.col-md
            %img.mb-2{:alt => "", :height => "100", :src => "#{asset_path('cononlinelogo.png')}", :width => "100"}/
            %small.d-block.mb-3.text-muted © 2020
          .col-6.col-md
            %h5 Shop Now
            %ul.list-unstyled.text-small
              %li
                %a.text-muted{:href => "/dealers"} Dealers Room
              %li
                %a.text-muted{:href => "/artists"} Artists Alley
          .col-6.col-md
            %h5 COVID-19 Resources
            %ul.list-unstyled.text-small
              %li
                %a.text-muted{href: "https://www.sba.gov/funding-programs/loans/coronavirus-relief-options", target: '_blank'} SBA
              %li
                %a.text-muted{href: "https://www.cdc.gov/coronavirus/2019-ncov/index.html", target: '_blank'} CDC
          .col-6.col-md
            %h5 About
            %ul.list-unstyled.text-small
              %li
                %a.text-muted{:href => "/about"} About
              %li
                %a.text-muted{:href => "/privacy"} Privacy
              %li
                %a.text-muted{:href => "/terms"} Terms
